<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruzhan.movie">

    <application>

        <activity
            android:name=".detail.MovieDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Lion.MovieDetail" />

        <activity
            android:name=".video.WebVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape" />

    </application>
</manifest>
